@model IEnumerable<Shop.Models.Pet>

@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>UserView</h2>

<style>
    /* Basic styling */
    html {
        font-size: 20px;
    }
    body {
        font-family: Arial, sans-serif;
        background-image: url('../Images/lightblue1.jpg');
        background-color: #f9f9f9;
        padding: 20px;
    }

    .pet {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
        background-color: #fff;
        border:solid;
        border-block-color: black;
        border-color: black;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: orange;
        padding: 20px;
    }
    

    .pet img {
        max-width: 100%;
        height: auto;
    }

    .pet h3 {
        margin: 10px 0;
    }

    .pet p {
        color: #555;
    }
    .button {
        transition-duration: 0.4s;
    }

        .button:hover {
            background-color: #04AA6D; /* Green */
            color: white;
        }
</style>
</head>
<body>

    <body>
        @Html.ActionLink("View your cart","CartView","AddtoCarts")

        @foreach (var item in Model)
        {
             <div class="pet">

                 <h3>@item.Name</h3>
                 <p>@item.Name<br>Species: @item.Species<br>Breed: @item.Breed<br>Date Of Birth: @item.DateOfBirth<br>Is Available: @item.IsAvailable<br>Price: @item.Price</p>

                 @using (Html.BeginForm("AddToCart", "AddtoCarts", new { Id = item.Id, Name = item.Name, price = item.Price }, FormMethod.Post))

                 {

                     <input type="hidden" name="Id" value="@item.Id" />

                     <input type="number" name="quantity" value="1" min="1" />

                     <input type="submit" value="Add to Cart" class="btn btn-primary" />


                 }
                 <br />




             </div>
         }

        <script>
            const addToCartBtn = document.getElementById('add-to-cart-btn');
            const popup = document.getElementById('popup');

            addToCartBtn.addEventListener('click', function () {
                popup.style.display = 'block';

                setTimeout(function () {
                    popup.style.display = 'none';
                }, 3000);
            });
            

        </script>
    </body>


